/**
* Cette partie sera dedier a nos variables qui vont contenir
* nos couleurs utiliser
* police etc ...
**/

:root {
  --primary: #f39c12;
  --second: #16a085;
  --footer-color: #2c3e50;
  --text-color: #333;
  --bg-color: rgba(241, 241, 241, 0.3);
  --bg-comment: #f2efef;
  --pub-time-color: rgba(51, 51, 51, 0.5);

  --font-link: "Roboto", sans-serif;
  --font-logo: "Merriweather", serif;
  --font-text: "Montserrat", sans-serif;

  --line-color: rgba(51, 51, 51, 0.3);
  --face-color: #3742fa;
}
